/* Segoe UI - Fonts */
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Light"), url(../../fonts/SegoeUI-Light.woff2) format("woff2"), url(../../fonts/SegoeUI-Light.woff) format("woff"), url(../../fonts/SegoeUI-Light.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Semilight"), url(../../fonts/SegoeUI-Semilight.woff2) format("woff2"), url(../../fonts/SegoeUI-Semilight.woff) format("woff"), url(/../../fonts/SegoeUI-Semilight.ttf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url(../../fonts/SegoeUI.woff2) format("woff2"), url(../../fonts/SegoeUI.woff) format("woff"), url(../../fonts/SegoeUI.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Semibold"), url(../../fonts/SegoeUI-Semibold.woff2) format("woff2"), url(../../fonts/SegoeUI-Semibold.woff) format("woff"), url(../../fonts/SegoeUI-Semibold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold"), url(../../fonts/SegoeUI-Bold.woff2) format("woff2"), url(../../fonts/SegoeUI-Bold.woff) format("woff"), url(../../fonts/SegoeUI-Bold.ttf) format("truetype");
  font-weight: 700;
}
:root {
  /* Accent Colors */
  --accent-light-3: 191, 98%, 80%;
  --accent-light-2: 199, 99%, 69%;
  --accent-light-1: 205, 100%, 49%;
  --accent-base: 206, 100%, 42%;
  --accent-dark-1: 209, 100%, 36%;
  --accent-dark-2: 215, 100%, 29%;
  --accent-dark-3: 226, 100%, 20%;
  /* Font Size */
  --fds-caption-font-size: 12px;
  --fds-body-font-size: 14px;
  --fds-body-large-font-size: 18px;
  --fds-subtitle-font-size: 20px;
  --fds-title-font-size: 28px;
  --fds-title-large-font-size: 40px;
  --fds-display-font-size: 68px;
  /* Roundness */
  --control-corner-radius: 4px;
  --overlay-corner-radius: 8px;
}

/*@media (prefers-color-scheme: light) {*/
:root {
  /* Text */
  --text-primary: hsla(0, 0%, 0%, 89.56%);
  --text-secondary: hsla(0, 0%, 0%, 60.63%);
  --text-tertiary: hsla(0, 0%, 0%, 44.58%);
  --text-disabled: hsla(0, 0%, 0%, 36.14%);
  /* Accent */
  --accent-default: hsl(var(--accent-dark-1));
  --accent-secondary: hsla(var(--accent-dark-1), 90%);
  --accent-tertiary: hsla(var(--accent-dark-1), 80%);
  --accent-disabled: hsla(0, 0%, 0%, 21.69%);
  /* Accent Text */
  --accent-text-primary: hsl(var(--accent-dark-2));
  --accent-text-secondary: hsl(var(--accent-dark-3));
  --accent-text-tertiary: hsl(var(--accent-dark-1));
  --accent-text-disabled: hsla(0, 0%, 0%, 36.14%);
  /* Text on Accent */
  --text-on-accent-primary: hsl(0, 0%, 100%);
  --text-on-accent-secondary: hsla(0, 0%, 100%, 70%);
  --text-on-accent-disabled: var(--text-on-accent-secondary);
  --text-on-accent-selected: var(--text-on-accent-primary);
}

/*}*/
button, input[type=submit], input[type=reset], .button {
  color: #000000;
  background-color: #fdfdfe;
  justify-content: center;
  line-height: 20px;
  padding-block: 4px 6px;
  padding-inline: 11px;
  border: 1px solid;
  border-color: #e9ebee #e9ebee #d0d2d4 #e9ebee;
  border-radius: 4px;
}
button:hover, input[type=submit]:hover, input[type=reset]:hover, .button:hover {
  background-color: #f9fafb;
}
button:active, input[type=submit]:active, input[type=reset]:active, .button:active {
  color: #626364;
  border-color: #e9ebee #e9ebee #e9ebee #e9ebee;
}

.button-accent {
  color: var(--text-on-accent-primary);
  background-color: var(--accent-default);
  border: 1px solid hsla(0deg, 0%, 100%, 0.08);
  border-bottom-color: hsla(0deg, 0%, 0%, 0.4);
}
.button-accent:hover {
  color: var(--text-on-accent-secondary);
  background-color: var(--accent-secondary);
}
.button-accent:active {
  background-color: var(--accent-tertiary);
  color: var(--text-on-accent-secondary);
  border: 1px solid hsla(0deg, 0%, 100%, 0);
}

.button-hyperlink {
  background-color: rgba(255, 255, 255, 0);
  color: #003e94;
  border: 1px solid hsla(0deg, 0%, 0%, 0);
}
.button-hyperlink:hover {
  background-color: hsla(0deg, 0%, 0%, 0.0375);
}
.button-hyperlink:active {
  color: #005fb8;
  border-color: hsla(0deg, 0%, 0%, 0);
}

/* Base */
body {
  font-family: "Segoe UI";
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */