/*!
 * Fluently Rewrite 1.0.0 
 * Copyright 2019 - 2020 DatInternet
 * MIT License (https://raw.githubusercontent.com/JorianFX/Fluently/master/LICENSE)
*/
body {
    margin: 0;
    font-family: SegoeUI;
}

@font-face {
    font-family: 'FabricMDL2Icons';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons-2.68.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons-2.68.woff') format('woff'), url('https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons-2.68.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

.icon {
    font-family: 'FabricMDL2Icons';
}

.ms-Icon--Cancel::before {
    content: '';
    font-weight: normal;
    font-style: normal;
}

.color-access {
    background-color: #a4373a !important; 
}

.color-excel {
    background-color: #217346 !important; 
}

.color-office {
    background-color: #d83b01 !important; 
}

.color-onenote {
    background-color: #7719aa !important; 
}

.color-planner {
    background-color: #31752f !important; 
}

.color-powerapps {
    background-color: #5c005c !important; 
}

.color-powerpoint {
    background-color: #b7472a !important; 
}

.color-publisher {
    background-color: #077568 !important; 
}

.color-sway {
    background-color: #008272 !important; 
}

.color-teams {
    background-color: #6264a7 !important; 
}

.color-visio {
    background-color: #3955a3 !important; 
}

.color-word {
    background-color: #2b579a !important; 
}

.color-yammer {
    background-color: #106ebe !important; 
}

.color-themeDarker {
    background-color: #004578 !important;
}

.color-themeDark {
    background-color: #005a9e !important;
}

.color-themeDarkAlt {
    background-color: #106ebe !important;
}

.color-themePrimary {
    background-color: #0078d4 !important;
}

.color-themeSecondary {
    background-color: #2b88d8 !important;
}

.color-themeTertiary {
    background-color: #71afe5 !important;
}

.color-themeLight {
    background-color: #c7e0f4 !important;
}

.color-themeLighter {
    background-color: #deecf9 !important;
}

.color-themeLighterAlt {
    background-color: #eff6fc !important;
}

.color-black {
    background-color: #000000 !important;
}

.color-neutralDark {
    background-color: #201f1e !important;
}

.color-neutralPrimary {
    background-color: #323130 !important;
}

.color-neutralPrimaryAlt {
    background-color: #3b3a39 !important;
}

.color-neutralSecondary {
    background-color: #605e5c !important;
}

.color-neutralSecondaryAlt {
    background-color: #8a8886 !important;
}

.color-neutralTertiary {
    background-color: #a19f9d !important;
}

.color-neutralTertiaryAlt {
    background-color: #c8c6c4 !important;
}

.color-neutralQuaternary {
    background-color: #d2d0ce !important;
}

.color-neutralQuaternaryAlt {
    background-color: #e1dfdd !important;
}

.color-neutralLight {
    background-color: #edebe9 !important;
}

.color-neutralLighter {
    background-color: #f3f2f1 !important;
}

.color-neutralLighterAlt {
    background-color: #faf9f8 !important;
}

.color-white {
    background-color: #ffffff !important;
}

.color-yellowDark {
    background-color: #d29200 !important;
}

.color-yellow {
    background-color: #ffb900 !important;
}

.color-yellowLight {
    background-color: #fff100 !important;
}

.color-orange {
    background-color: #d83b01 !important;
}

.color-orangeLight {
    background-color: #ea4300 !important;
}

.color-orangeLighter {
    background-color: #ff8c00 !important;
}

.color-redDark {
    background-color: #a4262c !important;
}

.color-red {
    background-color: #d13438 !important;
}

.color-magentaDark {
    background-color: #5c005c !important;
}

.color-magenta {
    background-color: #b4009e !important;
}

.color-magentaLight {
    background-color: #e3008c !important;
}

.color-purpleDark {
    background-color: #32145a !important;
}

.color-purple {
    background-color: #5c2d91 !important;
}

.color-purpleLight {
    background-color: #b4a0ff !important;
}

.color-blueDark {
    background-color: #002050 !important;
}

.color-blueMid {
    background-color: #00188f !important;
}

.color-blue {
    background-color: #0078d4 !important;
}

.color-blueLight {
    background-color: #00bcf2 !important;
}

.color-tealDark {
    background-color: #004b50 !important;
}

.color-teal {
    background-color: #008272 !important;
}

.color-tealLight {
    background-color: #00B294 !important;
}

.color-greenDark {
    background-color: #004b1c !important;
}

.color-green {
    background-color: #107c10 !important;
}

.color-greenLight {
    background-color: #bad80a !important;
}

.color-away {
    background-color: #ffaa44 !important;
}

.color-donotdisturb {
    background-color: #c50f1f  !important;
}

.color-online {
    background-color: #6bb700 !important;
}

.color-invisible {
    background-color: #8a8886 !important;
}

.color-outofoffice {
    background-color: #b4009e !important;
}

.color-fluently {
    background-color: #4091D1 !important;
}

/* Button */

.fluently_button {
    border: rgb(130, 130, 130) solid 1px;
    padding: 5px 24px;
    border-radius: 3px;
    font-size: 12px;
}

.fluently_button_colored {
    border: #0078d4 solid 1px;
    text-decoration: none;
    color: white;
    padding: 5px 24px;
    background-color: #0078d4;
    border-radius: 3px;
    font-size: 12px;
}

.fluently_button_colored:hover {
    text-decoration: none;
    color: white;
    background-color: #106EBE;
}

/* Panel */

.fluently_panel_container {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-color: rgba(255, 255, 255, 0.5);
    animation: fluently_fadein 0.35s ease-in;
}

.fluently_panel {
    position: fixed;
    height: 100%;
    width: 340px;
    right: 0px;
    background-color: white;
    animation: fluently_slidein_left 0.4s cubic-bezier(0,.5,.5,1);
    transition: 0.4s cubic-bezier(0,.5,.5,1);
}

.fluently_panel_navigation {
    height: 44px;
    padding: 0px 5px;
}

.fluently_panel_navigation_closebtn {
    font-size: 16px;
    width: 16px;
    display: flex;
    text-decoration: none;
    padding: 14px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.0);
    float: right;
}

.fluently_panel_navigation_closebtn:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
}

.fluently_panel_navigation_closebtn i {
    margin-top: -2px;
}

.fluently_panel_content {
    height: auto;
    padding: 0px 16px;
}

.fluently_panel_title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(50, 49, 48);
}

.fluently_panel_text {
    font-size: 14px;
}

.depth-0 {
    box-shadow: 0 0 0 0 transparent;
  }
  
.depth-4 {
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
}
  
.depth-8 {
    box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
}
  
.depth-16 {
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
}
  
.depth-64 {
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
}

@keyframes fluently_fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fluently_slidein_left {
    from {
      transform: translate3d(40px, 0px, 0px);
    }
  
    to {
      transform: translate3d(0px, 0px, 0px);
    }
}

@media screen and (max-width: 450px) {
    .fluently_panel {
        width: 100%;
    }
}