button, input[type="submit"], input[type="reset"], .button {
    color: #000000;
    background-color: #fdfdfe;
    justify-content: center;
    line-height: 20px;
    padding-block: 4px 6px;
    padding-inline: 11px;
    border: 1px solid;
    border-color: #e9ebee #e9ebee #d0d2d4 #e9ebee;
    border-radius: 4px;
    &:hover {
        background-color: #f9fafb;
    } &:active {
        color: #626364;
        border-color: #e9ebee #e9ebee #e9ebee #e9ebee;
    }
}

.button-accent {
    color: var(--text-on-accent-primary);
    background-color: var(--accent-default);
    border: 1px solid hsla(0, 0%, 100%, 8%);
    border-bottom-color: hsla(0, 0%, 0%, 40%);
    &:hover {
        color: var(--text-on-accent-secondary);
        background-color: var(--accent-secondary);
    } &:active {
        background-color: var(--accent-tertiary);
        color: var(--text-on-accent-secondary);
        border: 1px solid hsla(0, 0%, 100%, 0%); 
    }
}

.button-hyperlink {
    background-color: #ffffff00;
    color: #003e94;
    border: 1px solid hsla(0, 0%, 0%, 0%);
    &:hover {
        background-color: hsla(0, 0%, 0%, 3.75%);
    } &:active {
        color: #005fb8;
        border-color: hsla(0, 0%, 0%, 0%);
    }
}